:root {
    --link-color: rgb(145, 139, 139);
    --font: "Lucida Handwriting", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* All links will be idential */
a{
    text-decoration: none;
    color: var(--link-color);
}
li{
    list-style: none;
}
/*  All links in navbar */
nav{
    padding: 10px 0;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* This is section. below navbar */
.section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

